@model hLib.Models.Author

@{
    ViewBag.Title = "Create author";
}

<h2>Create new author</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>author</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.AuthorFirstName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AuthorFirstName, new { htmlAttributes = new { @class = "form-control padding28" } })
                @Html.ValidationMessageFor(model => model.AuthorFirstName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AuthorMiddleName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AuthorMiddleName, new { htmlAttributes = new { @class = "form-control padding28" } })
                @Html.ValidationMessageFor(model => model.AuthorMiddleName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AuthorLastName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AuthorLastName, new { htmlAttributes = new { @class = "form-control padding28" } })
                @Html.ValidationMessageFor(model => model.AuthorLastName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NationalityId, "Nationality", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("NationalityId", null, "Select nationality", htmlAttributes: new { @class = "form-control deletable padding28" })
                @Html.ValidationMessageFor(model => model.NationalityId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
                <button type="button" id="btnDelete" class="btn btn-danger" data-toggle="tooltip" data-placement="right" title="clear all">
                    <span class="glyphicon glyphicon-remove-sign"></span>
                </button>
            </div>
        </div>
    </div>
}

<hr>
<div>
    <a href="@Url.Action("Index", "Authors")" data-toggle="tooltip" data-placement="bottom" title="back to index page">
        <i class="glyphicon glyphicon-arrow-left backLink"></i>
        <span class="sr-only">Back</span>
    </a>
</div>
@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/authorCreateAndEditPages")
}
