@model IEnumerable<hLib.Models.Nationality>

@{
    ViewBag.Title = "Nationalities";
}

<div class="container-fluid">
    <div class="col-md-12">
        <h2>Nationalities overview</h2>
        <p>
            <a data-toggle="modal" class="open-modalCreate" href="#createDialog">
                Create new nationality
            </a>
        </p>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <hr id="headerHR">
        <table id="indexNationalitiesTable" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.NationalityName)
                    </th>
                    <th class="editDeleteTableIcons"></th>
                    <th class="editDeleteTableIcons"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.NationalityName)
                        </td>
                        <td class="text-center">
                            <span data-toggle="tooltip" data-placement="top" title="edit nationality">
                                <a data-toggle="modal" data-id="@item.NationalityId" data-title="@item.NationalityName" class="open-modalEdit" href="#editDialog">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                    <span class="sr-only" style="align-content:center">Edit</span>
                                </a>
                            </span>
                        </td>
                        <td class="text-center">
                            <span data-toggle="tooltip" data-placement="top" title="delete nationality">
                                <a data-toggle="modal" data-id="@item.NationalityId" data-title="@item.NationalityName" class="open-modalDelete" href="#deleteDialog">
                                    <i class="glyphicon glyphicon-remove-sign"></i>
                                    <span class="sr-only" style="align-content:center">Delete</span>
                                </a>
                            </span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <hr>
    </div>
</div>


@Html.Partial("_modalDelete")
@Html.Partial("_modalEdit")
@Html.Partial("_modalCreate")

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryDataTablesBootstrap")
    @Scripts.Render("~/bundles/indexNationalityPage")   
}